
#mainNavbar {
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 2rem;
}
#mainNavbar .nav-link {
    color: black;
    font-weight: 600;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar.scrolled {
    background: #ffffff;
    transition: background 500ms;
}
/* test {
    color: black;
}
#mainNavBar test.scrolled {
    color: white;
} */

.spacer1 {
    height: 976px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.65); */
}
.parallax {
    /* The image used */
    background-image: url(img/1600x976.jpg);
    /* Full height */
    /* width: 100%;
    height: 100vh; */
    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
     */
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:contain;
    background-size: ;
    background-position:center center;
}
.rawbutton {
    border-radius: 40px;
    border-width: 4px;
    padding: 14px 60px;
    border-color: white;
    color: white;
    background-color: transparent;
}
/* .heading {
    margin-top: 100px;
} */

@media (max-width: 576px) {
    .spacer1 {
        height: 500px;
    }
    .parallax {
        background-attachment: fixed;
    }
}

@media (max-width: 767px) {
    .spacer1 {
        height: 670px;
    }
}

@media (max-width: 960px) {
    .spacer1 {
        height: 900px;
    }
}
